---
import MainLayout from '../layouts/MainLayout.astro'; // Assurez-vous que ce chemin est correct
---

<MainLayout title="Merci pour votre message">
  <h1>Merci pour votre message</h1>
  <p>Nous reviendrons vers vous rapidement, normalement sous 48h</p>
</MainLayout>