---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Merci pour votre message - Ycompris">
  <section class="section container text-center">
    <h1>Message bien reçu !</h1>
    <p style="font-size: 1.3rem; margin: 2rem 0;">
      Merci pour votre demande. Nous vous répondons dans les plus brefs délais (normalement 48h ouvrées).
    </p>
    <a href="/" class="btn btn--primary">Retour à l'accueil</a>
  </section>
</MainLayout>
